/* styles.css
Mustard #E3B448
Sage #CBD18F
Forest Green #3A6B35

*/
body {
    font-family: Arial, sans-serif;
    background: #CBD18F;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}


#add-event{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2%;
    width: 50%;
    font-size: 16px;
    border-radius: 10%; 
}

#event-name , #event-date{  
    width: 100%;
    max-height: 15px;
    padding:10px;
    margin:10px 0px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

#event-name:hover , #event-date:hover{
    box-shadow: 0px 0px 4px 4px #CBD18F;
}

input[type="date"] {
    cursor: pointer;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent; 
}

#div-button{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 50%;
    gap: 2%;

}

#add-button, #reset-button{
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 1%;
}
#add-button{
    background-color: #3A6B35;
    color: #CBD18F;
    box-shadow: #2b4d27 0 -6px 8px inset;
}
#reset-button{
    background-color:#CBD18F ;
    color: #3A6B35;
    box-shadow: #8d964d 0 -6px 8px inset;
}
#add-button:hover{
    background-color: #2e532a;
    color: #e5ec90;
}
#reset-button:hover{
    background-color:#d4dd6b ;
    color: #0c180a;
}

#todaySdate{
    width: 50%;
    border: 2px solid #3A6B35 ;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 1%;
}




.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 85vw;
    max-width: 900px;
    min-width: 100px;
    height: 250;
    margin:  2% auto;
    padding: 2%;    
    border-radius: 10px;
    background-color:#E3B448;
    color :#3A6B35;
    box-shadow: 2px 8px 28px 10px #523202;
    
}


.Timeline-container {
    width: 85vw;
    max-width: 900px;
    min-width: 100px;
    height: auto;
    margin:  2% auto;
    padding: 5% 2%;    
    border-radius: 10px;
    background-color:#E3B448;
    color :#3A6B35;
    box-shadow: 2px 8px 28px 10px #523202;
    
}

@media  (max-width:950px) {
    #event-name , #event-date{  
    width: 50%;
    max-height: 15px;
    padding:4px;
    border-radius:4px;
    }
    #add-button, #reset-button{
        font-size: 12px;
        padding: 2px ;
        border-radius:4px;
    }
} 











#timeline-year{
    height: 25px;
    display: flex;
    align-items: center;
    margin:0;
}

#innerYear{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin:0;
}

.timeline-thisYear{
    color: #3A6B35;
    border-bottom : 4px solid #3A6B35;
}

.timeline-nextYear{
    color: #3A6B35;
    border-bottom : 4px solid #3A6B35;
    border-left:4px solid #3A6B35;
}


#timeline-month{
    height: 25px;
    display: flex;
    align-items: center;
    margin:0;
}

#innerMonth{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top:-4px;
}

.timeline-M :first-child{
    border-right : 4px solid #3A6B35;
}

.timeline-M:not(:first-child){
    border-left : 4px solid #3A6B35;
}

.timeline-M {
    display:inline-block;
    height: auto;
    color: #3A6B35;
    margin: 0;
    padding-top: 3px;
}



#events-list{
    margin-top: 10px;
}

#eventItem{
    font-size: 18px;
    display: flex;
    align-items:center;
}
 
 #eventItemBar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-height:30px;
    font-weight: bold;
    height: auto;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 2px 2px #523202;
    color:black;
    margin-top: 2px;
 }

.daysItem{
    text-align: left;
    text-wrap: nowrap;
    text-indent: 5px;
}


#eventDate{
    width:100%;
    text-align: right;
    text-indent: 5px;
    font-size: 12px;
    color:#3A6B35;
    font-weight: bold;
    padding:3px;
}

.close-icon {
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    color:black;
 }